<html>
<head>
    <title>Title Case Generator</title>
</head>
<body>
    <h1>Title Case Generator</h1>
    <form action='/view_title_case'>
        <label for='phrase'>Enter title:</label>
        <input id='phrase' name='phrase' type='text'>
        <button type='submit'>Submit</button>
    </form>
</body>

</html>
